<ion-view view-title="Change Password" class="grey_bg">
  	<ion-content padding="10">
      <div class="list">
			<p class="form_logo">
         	<img title="" alt="" src="img/logomain.png" class="">
         </p>
         <p ng-if = "error_message" class="header-error">
              {{ error_message }}
          </p>
      <form ng-submit="handleChangePasswordBtnClick(changePasswordForm)" role="form" ng-init="changePasswordForm = {}" name = "changePasswordF" >
         
          <label class="item item-input">
            <input type="password" placeholder="password" name="password" ng-model="changePasswordForm.password" required="required">
            <span class = "error" ng-show="changePasswordF.password.$touched && changePasswordF.password.$invalid">
              <span ng-show="changePasswordF.password.$error.required  ">Password is required.</span>
            </span>
          </label>
          <label class="item item-input">
            <input type="password" placeholder="password_confirmation" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required">
            <span class = "error" ng-show="changePasswordF.password_confirmation.$touched && changePasswordF.password_confirmation.$invalid">
              <span ng-show="changePasswordF.password_confirmation.$error.required">Password confirmation is required.</span>

            </span>

            <span class = "error" ng-show="!changePasswordF.password_confirmation.$error.required && changePasswordForm.password != changePasswordForm.password_confirmation ">Password confirmation doesn't match Password.</span>

          </label>
          <button  class="button button-block button-assertive" ng-disabled="changePasswordF.$invalid || changePasswordForm.password != changePasswordForm.password_confirmation">
            Change Password
         </button>
         
      </form>
      </div>
      
  </ion-content>
</ion-view>